@mixin flex($jc, $ai) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}
@mixin font($fw, $fs, $lh) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
}

@mixin pseudo($h, $w, $bc) {
  content: '';
  display: block;
  height: $h;
  width: $w;
  background-color: $bc;
}
