    <button class="chat-button">

        <div class="chat send">
            <svg class="icon-chat" width="30" height="30">
                <use href="./images/chat/chat.svg#icon-chat"></use>
            </svg>
            <span class="send-msg">Отправить сообщение</span>
        </div>
        <div class="chat">
            <svg class="icon-facebook" width="30" height="30">
                <use href="./images/chat/chat.svg#icon-facebook"></use>
            </svg>
        </div>
        <div class="chat">
            <svg class="icon-whatsapp" width="30" height="30">
                <use href="./images/chat/chat.svg#icon-whatsapp"></use>
            </svg>
        </div>
        <div class="chat">
            <svg class="icon-telegram" width="30" height="30">
                <use href="./images/chat/chat.svg#icon-telegram"></use>
            </svg>
        </div>
        <div class="chat">
            <svg class="icon-viber" width="30" height="30">
                <use href="./images/chat/chat.svg#icon-viber"></use>
            </svg>
        </div>

</button>
