
<footer class="footer" id="contacts">
        <ul class="footer__contacts container">
            <li class="footer__item"><a class="footer__logo" href="./index.html">Hell 
                <svg class="logo__icon">
                    <use href="./images/sprite.svg#icon-flame"></use>
                    </svg>EN
                    <span class="footer__logo--text"><span class="footer__logo--accent">адский</span> англиский</span>
            </a></li>
            <li class="footer__item"><a class="footer__tel" href="tel:+380000000000">
                <svg class="icon-tel" width="20" height="20">
                    <use href="./images/sprite.svg#icon-tel"></use>
                </svg>
                +38 (000) 000 00 00
            </a></li>
            <li class="footer__item"><a class="footer__insta" href="https://www.instagram.com/" rel="noreferrer noopener" target="_blank">
                <svg class="icon-insta" width="25" height="25" aria-label="instagram">
                    <use href="./images/sprite.svg#icon-insta"></use>
                </svg>
            </a></li>
        </ul>
        <div class="footer__rights">
            <div class="rights-wrap">@ Все права защищены, 2019</div>
        </div>
        <a class="scroll__up" href="#header">
            <svg class="arrow__icon" width="24" height="20">
                <use href="./images/arrow-up.svg#icon-up-arrow"></use>
            </svg>
        </a>

