<header class="header">
    <div class="container">
        <nav class="nav">
            <a class="logo" href="./index.html">Hell<svg class="logo__icon">
                    <use href="./images/sprite.svg#icon-flame"></use>
                </svg>EN
                <p class="logo__title"><span class="logo__span">Адский&nbsp</span>английский</p>
            </a>
            <div class="menu-container" data-menu>
                <div class="container-burger">
                    <a class="logo__menu" href="./index.html">Hell<svg class="logo__icon">
                            <use href="./images/sprite.svg#icon-flame"></use>
                        </svg>EN
                        <p class="logo__title"><span class="logo__span">Адский&nbsp</span>английский</p>
                    </a>
                    <div class="menu-text">
                        <ul class="nav__list">
                            <li class="nav__list-item">
                                <a class="nav__list-link" href="#program">Программы обучения</a>
                            </li>
                            <li class="nav__list-item">
                                <a class="nav__list-link" href="#about">О нас</a>
                            </li>
                            <li class="nav__list-item">
                                <a class="nav__list-link" href="#method">Варианты обучения</a>
                            </li>
                            <li class="nav__list-item">
                                <a class="nav__list-link" href="#contacts">Контакты</a>
                            </li>
                        </ul>
                        <button class="modal-btn" type="button">Консультация по телефону</button>
                    </div>
                </div>
            </div>
            <button class="modal-btn tablet" type="button">Консультация по телефону</button>
            <button
            type="button"
            class="burger"
            data-menu-button
            aria-expanded="true">
                <svg class="burger__icons" width="21" height="21" aria-label="Переключатель мобильного меню">
                    <use class="icon-menu" href="./images/sprite.svg#icon-menu"></use>
                    <use class="icon-cross" href="./images/sprite.svg#icon-cross"></use>
                </svg>
            </button>
        </nav>
    </div>
</header>