<header class="header">
    <div class="container">
        <nav class="nav">
            <a class="logo" href="./index.html">Hell<svg class="logo__icon">
                    <use href="./images/sprite.svg#icon-flame"></use>
                </svg>EN
                <p class="logo__title"><span class="logo__span">Адский&nbsp</span>английский</p>
            </a>
            <button
            type="button"
            class="burger"
            data-menu-button
            aria-expanded="true">
                <svg class="burger__icons" width="21" height="21" aria-label="Переключатель мобильного меню">
                    <use class="icon-menu" href="./images/sprite.svg#icon-menu"></use>
                </svg>
            </button>
            <div class="menu-container" data-menu>
                <!-- <button type="button"
                class="burger"
                data-menu-button
                aria-expanded="true">
                    <svg class="burger__icons" width="40" height="40" aria-label="Переключатель мобильного меню">
                        <use class="icon-cross" href="./images/sprite.svg#icon-cross"></use>
                    </svg>
                </button> -->
                <a class="logo__menu" href="./index.html">Hell<svg class="logo__icon">
                        <use href="./images/sprite.svg#icon-flame"></use>
                    </svg>EN
                    <p class="logo__title"><span class="logo__span">Адский&nbsp</span>английский</p>
                </a>
                <ul class="nav__list">
                    <li class="nav__list-item">
                        <a class="nav__list-link" href="#">Программы обучения</a>
                    </li>
                    <li class="nav__list-item">
                        <a class="nav__list-link" href="#">О нас</a>
                    </li>
                    <li class="nav__list-item">
                        <a class="nav__list-link" href="#">Варианты обучения</a>
                    </li>
                    <li class="nav__list-item">
                        <a class="nav__list-link" href="#">Контакты</a>
                    </li>
                </ul>
                <button class="head-btn" type="button">Консультация по телефону</button>
            </div>
        </nav>
    </div>
</header>