<section class="hero">
    <div class="container">
        <div class="hero__thumb">
            <h1 class="hero__title">Комплексная подготовка к ВНО </br> по английскому языку</h1>
            <p class="hero__discription"> <span class="hero__discription-span-1">Просто не будет.</span> </br>
                <span class="hero__discription-span-2">Но ты гарантировано наберешь</span>
                <span class="hero__discription-span-3">+25 баллов</span>
            </p>
            <button type="button" class="modal-btn revers">Хочу на бесплатное занятие</button>
        </div>
        <picture>
            <source media="(min-width: 1344px)" type="image/webp"
                srcset="./images/hero/hero-desktop-1.webp 1x, ./images/hero/hero-desktop-1@2x.webp 2x">
            <source media="(min-width: 1344px)"
                srcset="./images/hero/hero-desktop-1.png 1x, ./images/hero/hero-desktop-1@2x.png 2x">
            <source media="(min-width: 768px)" type="image/webp"
                srcset="./images/hero/hero-tablet-1.webp 1x, ./images/hero/hero-tablet-1@2x.webp 2x">
            <source media="(min-width: 768px)"
                srcset="./images/hero/hero-tablet-1.png 1x, ./images/hero/hero-tablet-1@2x.png 2x">
            <source media="(min-width: 320px)" type="image/webp"
                srcset="./images/hero/hero-mobile-1.webp 1x, ./images/hero/hero-mobile-1@2x.webp 2x">
            <source media="(min-width: 320px)"
                srcset="./images/hero/hero-mobile-1.png 1x, ./images/hero/hero-mobile-1@2x.png 2x">
            <img class="hero__preview-pic" src="./images/hero/hero-mobile-1.png" alt="учитель">
        </picture>
    </div>
</section>