<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button class="modal__btn-close" type="button" data-modal-close>
            <svg class="modal__btn-icon" width="12px" height="12px">
                <use href="./images/sprite.svg#icon-cross"></use>
            </svg>
        </button>
        <ul class="messenger__list">
            <li class="messenger__item">
                <a class="messenger__link" href="">
                    <svg class="icon-whatsapp-msg">
                        <use href="./images/chat/chat.svg#icon-whatsapp"></use>
                    </svg>
                    <p class="messenger-name">Whatsapp</p>
                </a>
            </li>
            <li class="messenger__item">
                <a class="messenger__link" href="">
                    <svg class="icon-telegram-msg">
                        <use href="./images/chat/chat.svg#icon-telegram"></use>
                    </svg>
                    <p class="messenger-name">Telegram</p>
                </a>
            </li>
            <li class="messenger__item">
                <a class="messenger__link" href="">
                    <svg class="icon-facebook-msg">
                        <use href="./images/chat/chat.svg#icon-facebook"></use>
                    </svg>
                    <p class="messenger-name">Facebook</p>
                </a>
            </li>
            <li class="messenger__item">
                <a class="messenger__link" href="">
                    <svg class="icon-viber-msg">
                        <use href="./images/chat/chat.svg#icon-viber"></use>
                    </svg>
                    <p class="messenger-name">Viber</p>
                </a>
            </li>
        </ul>
    </div>
</div>