<section class="reviews section">
    <div class="container">
        <h2 class="reviews__title">Отзывы выпускников</h2>
        <div class="slider">
            <!--review first -->
            <div class="slider__item is-active">
                <div class="slider__wrapper">
                    <div class="slider-wrapper__left">
                        <div class="slider-wrapper__thumb">
                            <picture class="slider-wrapper__photo">
                                <source
                                    srcset="./images/review/review-desktop-1.webp 1x, ./images/review/review-desktop-1@2x.webp 2x"
                                    media="(min-width:1316px)" type="image/webp">
                                <source
                                    srcset="./images/review/review-desktop-1.jpg 1x, ./images/review/review-desktop-1@2x.jpg 2x"
                                    media="(min-width:1316px)">
                                <source
                                    srcset="./images/review/review-tablet-1.webp 1x, ./images/review/review-tablet-1@2x.webp 2x"
                                    media="(min-width:768px)" type="image/webp">
                                <source
                                    srcset="./images/review/review-tablet-1.jpg 1x, ./images/review/review-tablet-1@2x.jpg 2x"
                                    media="(min-width:768px)">
                                <source
                                    srcset="./images/review/review-mobile-1.webp 1x, ./images/review/review-mobile-1@2x.webp 2x"
                                    media="(min-width:320px)" type="image/webp">
                                <source
                                    srcset="./images/review/review-mobile-1.jpg 1x, ./images/review/review-mobile-1@2x.jpg 2x"
                                    media="(min-width:320px)">
                                <img class="slider-wrapper__image" src="./images/review/review-mobile-1.jpg"
                                    alt="Тоня Кучеровская" aria-label="Тоня Кучеровская">
                            </picture>
                        </div>
                        <a class="slider-wrapper__social" href="https://www.instagram.com/" aria-label="инстаграм"
                            target="_blank">
                            <svg class="slider-social__network" width="25" height="25">
                                <use href="./images/sprite.svg#icon-insta"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="slider-wrapper__right">
                        <h3 class="slider-wrapper__name">Тоня Кучеровская</h3>
                        <p class="slider-wrapper__description">Выпуск 2015-го года, <span lang="uk">Національний університет біоресурсів
                        і природокористування України</span>
                        </p>
                        <p class="slider-wrapper__text"  lang="uk">За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
                            словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому
                            що
                            її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх
                            зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен<span class="hidden-text" reviews-text-1>тка
                                Олени Моревої !</span>
                            <span class="visible-text">...</span>
                            <button class="switch" type="button" reviews-switch-button-1>
                                <span class="switch__visible-text">Читать дальше</span>
                                <span class="switch__hidden-text">Читать меньше</span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__wrapper">
                    <div class="slider-wrapper__left">
                        <div class="slider-wrapper__thumb">
                            <picture class="slider-wrapper__photo">
                                <source
                                    srcset="./images/review/review-desktop-1.webp 1x, ./images/review/review-desktop-1@2x.webp 2x"
                                    media="(min-width:1316px)" type="image/webp">
                                <source srcset="./images/review/review-desktop-1.jpg 1x, ./images/review/review-desktop-1@2x.jpg 2x"
                                    media="(min-width:1316px)">
                                <source srcset="./images/review/review-tablet-1.webp 1x, ./images/review/review-tablet-1@2x.webp 2x"
                                    media="(min-width:768px)" type="image/webp">
                                <source srcset="./images/review/review-tablet-1.jpg 1x, ./images/review/review-tablet-1@2x.jpg 2x"
                                    media="(min-width:768px)">
                                <source srcset="./images/review/review-mobile-1.webp 1x, ./images/review/review-mobile-1@2x.webp 2x"
                                    media="(min-width:320px)" type="image/webp">
                                <source srcset="./images/review/review-mobile-1.jpg 1x, ./images/review/review-mobile-1@2x.jpg 2x"
                                    media="(min-width:320px)">
                                <img class="slider-wrapper__image" src="./images/review/review-mobile-1.jpg" alt="Тоня Кучеровская"
                                    aria-label="Тоня Кучеровская">
                            </picture>
                        </div>
                        <a class="slider-wrapper__social" href="https://www.instagram.com/" aria-label="инстаграм" target="_blank">
                            <svg class="slider-social__network" width="25" height="25">
                                <use href="./images/sprite.svg#icon-insta"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="slider-wrapper__right">
                        <h3 class="slider-wrapper__name">Леся Иванчук</h3>
                        <p class="slider-wrapper__description">Выпуск 2015-го года, Національний університет біоресурсів
                            і природокористування України
                        </p>
                        <p class="slider-wrapper__text">За короткий час занять з Оленою я опанувала граматику і поповнила свій
                            зовсім пустий
                            словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
                            друзями, тому
                            що
                            її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках,
                            маючи страх
                            зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен<span class="hidden-text"
                                reviews-text-2>тка
                                Олени Моревої !</span>
                            <span class="visible-text">...</span>
                            <button class="switch" type="button" reviews-switch-button-2>
                                <span class="switch__visible-text">Читать дальше</span>
                                <span class="switch__hidden-text">Читать меньше</span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__wrapper">
                    <div class="slider-wrapper__left">
                        <div class="slider-wrapper__thumb">
                            <picture class="slider-wrapper__photo">
                                <source
                                    srcset="./images/review/review-desktop-1.webp 1x, ./images/review/review-desktop-1@2x.webp 2x"
                                    media="(min-width:1316px)" type="image/webp">
                                <source srcset="./images/review/review-desktop-1.jpg 1x, ./images/review/review-desktop-1@2x.jpg 2x"
                                    media="(min-width:1316px)">
                                <source srcset="./images/review/review-tablet-1.webp 1x, ./images/review/review-tablet-1@2x.webp 2x"
                                    media="(min-width:768px)" type="image/webp">
                                <source srcset="./images/review/review-tablet-1.jpg 1x, ./images/review/review-tablet-1@2x.jpg 2x"
                                    media="(min-width:768px)">
                                <source srcset="./images/review/review-mobile-1.webp 1x, ./images/review/review-mobile-1@2x.webp 2x"
                                    media="(min-width:320px)" type="image/webp">
                                <source srcset="./images/review/review-mobile-1.jpg 1x, ./images/review/review-mobile-1@2x.jpg 2x"
                                    media="(min-width:320px)">
                                <img class="slider-wrapper__image" src="./images/review/review-mobile-1.jpg" alt="Тоня Кучеровская"
                                    aria-label="Тоня Кучеровская">
                            </picture>
                        </div>
                        <a class="slider-wrapper__social" href="https://www.instagram.com/" aria-label="инстаграм" target="_blank">
                            <svg class="slider-social__network" width="25" height="25">
                                <use href="./images/sprite.svg#icon-insta"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="slider-wrapper__right">
                        <h3 class="slider-wrapper__name">Дарья Горошко</h3>
                        <p class="slider-wrapper__description">Выпуск 2015-го года, Національний університет біоресурсів
                            і природокористування України
                        </p>
                        <p class="slider-wrapper__text">За короткий час занять з Оленою я опанувала граматику і поповнила свій
                            зовсім пустий
                            словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
                            друзями, тому
                            що
                            її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках,
                            маючи страх
                            зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен<span class="hidden-text"
                                reviews-text-3>тка
                                Олени Моревої !</span>
                            <span class="visible-text">...</span>
                            <button class="switch" type="button" reviews-switch-button-3>
                                <span class="switch__visible-text">Читать дальше</span>
                                <span class="switch__hidden-text">Читать меньше</span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__wrapper">
                    <div class="slider-wrapper__left">
                        <div class="slider-wrapper__thumb">
                            <picture class="slider-wrapper__photo">
                                <source
                                    srcset="./images/review/review-desktop-1.webp 1x, ./images/review/review-desktop-1@2x.webp 2x"
                                    media="(min-width:1316px)" type="image/webp">
                                <source srcset="./images/review/review-desktop-1.jpg 1x, ./images/review/review-desktop-1@2x.jpg 2x"
                                    media="(min-width:1316px)">
                                <source srcset="./images/review/review-tablet-1.webp 1x, ./images/review/review-tablet-1@2x.webp 2x"
                                    media="(min-width:768px)" type="image/webp">
                                <source srcset="./images/review/review-tablet-1.jpg 1x, ./images/review/review-tablet-1@2x.jpg 2x"
                                    media="(min-width:768px)">
                                <source srcset="./images/review/review-mobile-1.webp 1x, ./images/review/review-mobile-1@2x.webp 2x"
                                    media="(min-width:320px)" type="image/webp">
                                <source srcset="./images/review/review-mobile-1.jpg 1x, ./images/review/review-mobile-1@2x.jpg 2x"
                                    media="(min-width:320px)">
                                <img class="slider-wrapper__image" src="./images/review/review-mobile-1.jpg" alt="Тоня Кучеровская"
                                    aria-label="Тоня Кучеровская">
                            </picture>
                        </div>
                        <a class="slider-wrapper__social" href="https://www.instagram.com/" aria-label="инстаграм" target="_blank">
                            <svg class="slider-social__network" width="25" height="25">
                                <use href="./images/sprite.svg#icon-insta"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="slider-wrapper__right">
                        <h3 class="slider-wrapper__name">Лиза Даниленко</h3>
                        <p class="slider-wrapper__description">Выпуск 2015-го года, Національний університет біоресурсів
                            і природокористування України
                        </p>
                        <p class="slider-wrapper__text">За короткий час занять з Оленою я опанувала граматику і поповнила свій
                            зовсім пустий
                            словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
                            друзями, тому
                            що
                            її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках,
                            маючи страх
                            зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен<span class="hidden-text"
                                reviews-text-4>тка
                                Олени Моревої !</span>
                            <span class="visible-text">...</span>
                            <button class="switch" type="button" reviews-switch-button-4>
                                <span class="switch__visible-text">Читать дальше</span>
                                <span class="switch__hidden-text">Читать меньше</span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__wrapper">
                    <div class="slider-wrapper__left">
                        <div class="slider-wrapper__thumb">
                            <picture class="slider-wrapper__photo">
                                <source
                                    srcset="./images/review/review-desktop-1.webp 1x, ./images/review/review-desktop-1@2x.webp 2x"
                                    media="(min-width:1316px)" type="image/webp">
                                <source srcset="./images/review/review-desktop-1.jpg 1x, ./images/review/review-desktop-1@2x.jpg 2x"
                                    media="(min-width:1316px)">
                                <source srcset="./images/review/review-tablet-1.webp 1x, ./images/review/review-tablet-1@2x.webp 2x"
                                    media="(min-width:768px)" type="image/webp">
                                <source srcset="./images/review/review-tablet-1.jpg 1x, ./images/review/review-tablet-1@2x.jpg 2x"
                                    media="(min-width:768px)">
                                <source srcset="./images/review/review-mobile-1.webp 1x, ./images/review/review-mobile-1@2x.webp 2x"
                                    media="(min-width:320px)" type="image/webp">
                                <source srcset="./images/review/review-mobile-1.jpg 1x, ./images/review/review-mobile-1@2x.jpg 2x"
                                    media="(min-width:320px)">
                                <img class="slider-wrapper__image" src="./images/review/review-mobile-1.jpg" alt="Тоня Кучеровская"
                                    aria-label="Тоня Кучеровская">
                            </picture>
                        </div>
                        <a class="slider-wrapper__social" href="https://www.instagram.com/" aria-label="инстаграм" target="_blank">
                            <svg class="slider-social__network" width="25" height="25">
                                <use href="./images/sprite.svg#icon-insta"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="slider-wrapper__right">
                        <h3 class="slider-wrapper__name">Рита Руденко</h3>
                        <p class="slider-wrapper__description">Выпуск 2015-го года, Національний університет біоресурсів
                            і природокористування України
                        </p>
                        <p class="slider-wrapper__text">За короткий час занять з Оленою я опанувала граматику і поповнила свій
                            зовсім пустий
                            словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
                            друзями, тому
                            що
                            її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках,
                            маючи страх
                            зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен<span class="hidden-text"
                                reviews-text-5>тка
                                Олени Моревої !</span>
                            <span class="visible-text">...</span>
                            <button class="switch" type="button" reviews-switch-button-5>
                                <span class="switch__visible-text">Читать дальше</span>
                                <span class="switch__hidden-text">Читать меньше</span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__wrapper">
                    <div class="slider-wrapper__left">
                        <div class="slider-wrapper__thumb">
                            <picture class="slider-wrapper__photo">
                                <source
                                    srcset="./images/review/review-desktop-1.webp 1x, ./images/review/review-desktop-1@2x.webp 2x"
                                    media="(min-width:1316px)" type="image/webp">
                                <source srcset="./images/review/review-desktop-1.jpg 1x, ./images/review/review-desktop-1@2x.jpg 2x"
                                    media="(min-width:1316px)">
                                <source srcset="./images/review/review-tablet-1.webp 1x, ./images/review/review-tablet-1@2x.webp 2x"
                                    media="(min-width:768px)" type="image/webp">
                                <source srcset="./images/review/review-tablet-1.jpg 1x, ./images/review/review-tablet-1@2x.jpg 2x"
                                    media="(min-width:768px)">
                                <source srcset="./images/review/review-mobile-1.webp 1x, ./images/review/review-mobile-1@2x.webp 2x"
                                    media="(min-width:320px)" type="image/webp">
                                <source srcset="./images/review/review-mobile-1.jpg 1x, ./images/review/review-mobile-1@2x.jpg 2x"
                                    media="(min-width:320px)">
                                <img class="slider-wrapper__image" src="./images/review/review-mobile-1.jpg" alt="Тоня Кучеровская"
                                    aria-label="Тоня Кучеровская">
                            </picture>
                        </div>
                        <a class="slider-wrapper__social" href="https://www.instagram.com/" aria-label="инстаграм" target="_blank">
                            <svg class="slider-social__network" width="25" height="25">
                                <use href="./images/sprite.svg#icon-insta"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="slider-wrapper__right">
                        <h3 class="slider-wrapper__name">Мария Морозко</h3>
                        <p class="slider-wrapper__description">Выпуск 2015-го года, Національний університет біоресурсів
                            і природокористування України
                        </p>
                        <p class="slider-wrapper__text">За короткий час занять з Оленою я опанувала граматику і поповнила свій
                            зовсім пустий
                            словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
                            друзями, тому
                            що
                            її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках,
                            маючи страх
                            зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен<span class="hidden-text"
                                reviews-text-6>тка
                                Олени Моревої !</span>
                            <span class="visible-text">...</span>
                            <button class="switch" type="button" reviews-switch-button-6>
                                <span class="switch__visible-text">Читать дальше</span>
                                <span class="switch__hidden-text">Читать меньше</span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__wrapper">
                    <div class="slider-wrapper__left">
                        <div class="slider-wrapper__thumb">
                            <picture class="slider-wrapper__photo">
                                <source
                                    srcset="./images/review/review-desktop-1.webp 1x, ./images/review/review-desktop-1@2x.webp 2x"
                                    media="(min-width:1316px)" type="image/webp">
                                <source srcset="./images/review/review-desktop-1.jpg 1x, ./images/review/review-desktop-1@2x.jpg 2x"
                                    media="(min-width:1316px)">
                                <source srcset="./images/review/review-tablet-1.webp 1x, ./images/review/review-tablet-1@2x.webp 2x"
                                    media="(min-width:768px)" type="image/webp">
                                <source srcset="./images/review/review-tablet-1.jpg 1x, ./images/review/review-tablet-1@2x.jpg 2x"
                                    media="(min-width:768px)">
                                <source srcset="./images/review/review-mobile-1.webp 1x, ./images/review/review-mobile-1@2x.webp 2x"
                                    media="(min-width:320px)" type="image/webp">
                                <source srcset="./images/review/review-mobile-1.jpg 1x, ./images/review/review-mobile-1@2x.jpg 2x"
                                    media="(min-width:320px)">
                                <img class="slider-wrapper__image" src="./images/review/review-mobile-1.jpg" alt="Тоня Кучеровская"
                                    aria-label="Тоня Кучеровская">
                            </picture>
                        </div>
                        <a class="slider-wrapper__social" href="https://www.instagram.com/" aria-label="инстаграм" target="_blank">
                            <svg class="slider-social__network" width="25" height="25">
                                <use href="./images/sprite.svg#icon-insta"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="slider-wrapper__right">
                        <h3 class="slider-wrapper__name">Ника Николенко</h3>
                        <p class="slider-wrapper__description">Выпуск 2015-го года, Національний університет біоресурсів
                            і природокористування України
                        </p>
                        <p class="slider-wrapper__text">За короткий час занять з Оленою я опанувала граматику і поповнила свій
                            зовсім пустий
                            словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
                            друзями, тому
                            що
                            її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках,
                            маючи страх
                            зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен<span class="hidden-text"
                                reviews-text-7>тка
                                Олени Моревої !</span>
                            <span class="visible-text">...</span>
                            <button class="switch" type="button" reviews-switch-button-7>
                                <span class="switch__visible-text">Читать дальше</span>
                                <span class="switch__hidden-text">Читать меньше</span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
          
        </div>

        <!-- mobile-slider -->
        <div class="reviews-slider__small">
            
            
        </div>
    </div>
</section>