<section class="reviews section">
    <div class="container">
        <h2 class="reviews__title">Отзывы выпускников</h2>
        <div class="slider">
            <!--review first -->
            <div class="slider__item is-active">
                <div class="slider__wrapper">
                    <div class="slider-wrapper__left">
                        <div class="slider-wrapper__thumb">
                            <picture class="slider-wrapper__photo">
                                <source
                                    srcset="./images/review/review-desktop-1.webp 1x, ./images/review/review-desktop-1@2x.webp 2x"
                                    media="(min-width:1316px)" type="image/webp">
                                <source
                                    srcset="./images/review/review-desktop-1.jpg 1x, ./images/review/review-desktop-1@2x.jpg 2x"
                                    media="(min-width:1316px)">
                                <source
                                    srcset="./images/review/review-tablet-1.webp 1x, ./images/review/review-tablet-1@2x.webp 2x"
                                    media="(min-width:768px)" type="image/webp">
                                <source
                                    srcset="./images/review/review-tablet-1.jpg 1x, ./images/review/review-tablet-1@2x.jpg 2x"
                                    media="(min-width:768px)">
                                <source
                                    srcset="./images/review/review-mobile-1.webp 1x, ./images/review/review-mobile-1@2x.webp 2x"
                                    media="(min-width:320px)" type="image/webp">
                                <source
                                    srcset="./images/review/review-mobile-1.jpg 1x, ./images/review/review-mobile-1@2x.jpg 2x"
                                    media="(min-width:320px)">
                                <img class="slider-wrapper__image" src="./images/review/review-mobile-1.jpg"
                                    alt="Тоня Кучеровская" aria-label="Тоня Кучеровская">
                            </picture>
                        </div>
                        <a class="slider-wrapper__social" href="https://www.instagram.com/" aria-label="инстаграм"
                            target="_blank">
                            <svg class="slider-social__network" width="25" height="25">
                                <use href="./images/sprite.svg#icon-insta"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="slider-wrapper__right">
                        <h3 class="slider-wrapper__name">Тоня Кучеровская</h3>
                        <p class="slider-wrapper__description">Выпуск 2015-го года, <span lang="uk">Національний університет біоресурсів
                        і природокористування України</span>
                        </p>
                        <p class="slider-wrapper__text"  lang="uk">За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
                            словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому
                            що
                            її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх
                            зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен<span class="hidden-text" reviews-text-1>тка
                                Олени Моревої !</span>
                            <span class="visible-text">...</span>
                            <button class="switch" type="button" reviews-switch-button-1>
                                <span class="switch__visible-text">Читать дальше</span>
                                <span class="switch__hidden-text">Читать меньше</span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__wrapper">
                    <div class="slider-wrapper__left">
                        <div class="slider-wrapper__thumb">
                            <picture class="slider-wrapper__photo">
                                <source
                                    srcset="./images/review/review-desktop-1.webp 1x, ./images/review/review-desktop-1@2x.webp 2x"
                                    media="(min-width:1316px)" type="image/webp">
                                <source srcset="./images/review/review-desktop-1.jpg 1x, ./images/review/review-desktop-1@2x.jpg 2x"
                                    media="(min-width:1316px)">
                                <source srcset="./images/review/review-tablet-1.webp 1x, ./images/review/review-tablet-1@2x.webp 2x"
                                    media="(min-width:768px)" type="image/webp">
                                <source srcset="./images/review/review-tablet-1.jpg 1x, ./images/review/review-tablet-1@2x.jpg 2x"
                                    media="(min-width:768px)">
                                <source srcset="./images/review/review-mobile-1.webp 1x, ./images/review/review-mobile-1@2x.webp 2x"
                                    media="(min-width:320px)" type="image/webp">
                                <source srcset="./images/review/review-mobile-1.jpg 1x, ./images/review/review-mobile-1@2x.jpg 2x"
                                    media="(min-width:320px)">
                                <img class="slider-wrapper__image" src="./images/review/review-mobile-1.jpg" alt="Леся Иванчук"
                                    aria-label="Леся Иванчук">
                            </picture>
                        </div>
                        <a class="slider-wrapper__social" href="https://www.instagram.com/" aria-label="инстаграм" target="_blank">
                            <svg class="slider-social__network" width="25" height="25">
                                <use href="./images/sprite.svg#icon-insta"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="slider-wrapper__right">
                        <h3 class="slider-wrapper__name">Леся Иванчук</h3>
                        <p class="slider-wrapper__description">Выпуск 2015-го года, Національний університет біоресурсів
                            і природокористування України
                        </p>
                        <p class="slider-wrapper__text">За короткий час занять з Оленою я опанувала граматику і поповнила свій
                            зовсім пустий
                            словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
                            друзями, тому
                            що
                            її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках,
                            маючи страх
                            зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен<span class="hidden-text"
                                reviews-text-2>тка
                                Олени Моревої !</span>
                            <span class="visible-text">...</span>
                            <button class="switch" type="button" reviews-switch-button-2>
                                <span class="switch__visible-text">Читать дальше</span>
                                <span class="switch__hidden-text">Читать меньше</span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__wrapper">
                    <div class="slider-wrapper__left">
                        <div class="slider-wrapper__thumb">
                            <picture class="slider-wrapper__photo">
                                <source
                                    srcset="./images/review/review-desktop-1.webp 1x, ./images/review/review-desktop-1@2x.webp 2x"
                                    media="(min-width:1316px)" type="image/webp">
                                <source srcset="./images/review/review-desktop-1.jpg 1x, ./images/review/review-desktop-1@2x.jpg 2x"
                                    media="(min-width:1316px)">
                                <source srcset="./images/review/review-tablet-1.webp 1x, ./images/review/review-tablet-1@2x.webp 2x"
                                    media="(min-width:768px)" type="image/webp">
                                <source srcset="./images/review/review-tablet-1.jpg 1x, ./images/review/review-tablet-1@2x.jpg 2x"
                                    media="(min-width:768px)">
                                <source srcset="./images/review/review-mobile-1.webp 1x, ./images/review/review-mobile-1@2x.webp 2x"
                                    media="(min-width:320px)" type="image/webp">
                                <source srcset="./images/review/review-mobile-1.jpg 1x, ./images/review/review-mobile-1@2x.jpg 2x"
                                    media="(min-width:320px)">
                                <img class="slider-wrapper__image" src="./images/review/review-mobile-1.jpg" alt="Дарья Горошко"
                                    aria-label="Дарья Горошко">
                            </picture>
                        </div>
                        <a class="slider-wrapper__social" href="https://www.instagram.com/" aria-label="инстаграм" target="_blank">
                            <svg class="slider-social__network" width="25" height="25">
                                <use href="./images/sprite.svg#icon-insta"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="slider-wrapper__right">
                        <h3 class="slider-wrapper__name">Дарья Горошко</h3>
                        <p class="slider-wrapper__description">Выпуск 2015-го года, Національний університет біоресурсів
                            і природокористування України
                        </p>
                        <p class="slider-wrapper__text">За короткий час занять з Оленою я опанувала граматику і поповнила свій
                            зовсім пустий
                            словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
                            друзями, тому
                            що
                            її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках,
                            маючи страх
                            зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен<span class="hidden-text"
                                reviews-text-3>тка
                                Олени Моревої !</span>
                            <span class="visible-text">...</span>
                            <button class="switch" type="button" reviews-switch-button-3>
                                <span class="switch__visible-text">Читать дальше</span>
                                <span class="switch__hidden-text">Читать меньше</span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__wrapper">
                    <div class="slider-wrapper__left">
                        <div class="slider-wrapper__thumb">
                            <picture class="slider-wrapper__photo">
                                <source
                                    srcset="./images/review/review-desktop-1.webp 1x, ./images/review/review-desktop-1@2x.webp 2x"
                                    media="(min-width:1316px)" type="image/webp">
                                <source srcset="./images/review/review-desktop-1.jpg 1x, ./images/review/review-desktop-1@2x.jpg 2x"
                                    media="(min-width:1316px)">
                                <source srcset="./images/review/review-tablet-1.webp 1x, ./images/review/review-tablet-1@2x.webp 2x"
                                    media="(min-width:768px)" type="image/webp">
                                <source srcset="./images/review/review-tablet-1.jpg 1x, ./images/review/review-tablet-1@2x.jpg 2x"
                                    media="(min-width:768px)">
                                <source srcset="./images/review/review-mobile-1.webp 1x, ./images/review/review-mobile-1@2x.webp 2x"
                                    media="(min-width:320px)" type="image/webp">
                                <source srcset="./images/review/review-mobile-1.jpg 1x, ./images/review/review-mobile-1@2x.jpg 2x"
                                    media="(min-width:320px)">
                                <img class="slider-wrapper__image" src="./images/review/review-mobile-1.jpg" alt="Лиза Даниленко"
                                    aria-label="Лиза Даниленко">
                            </picture>
                        </div>
                        <a class="slider-wrapper__social" href="https://www.instagram.com/" aria-label="инстаграм" target="_blank">
                            <svg class="slider-social__network" width="25" height="25">
                                <use href="./images/sprite.svg#icon-insta"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="slider-wrapper__right">
                        <h3 class="slider-wrapper__name">Лиза Даниленко</h3>
                        <p class="slider-wrapper__description">Выпуск 2015-го года, Національний університет біоресурсів
                            і природокористування України
                        </p>
                        <p class="slider-wrapper__text">За короткий час занять з Оленою я опанувала граматику і поповнила свій
                            зовсім пустий
                            словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
                            друзями, тому
                            що
                            її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках,
                            маючи страх
                            зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен<span class="hidden-text"
                                reviews-text-4>тка
                                Олени Моревої !</span>
                            <span class="visible-text">...</span>
                            <button class="switch" type="button" reviews-switch-button-4>
                                <span class="switch__visible-text">Читать дальше</span>
                                <span class="switch__hidden-text">Читать меньше</span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__wrapper">
                    <div class="slider-wrapper__left">
                        <div class="slider-wrapper__thumb">
                            <picture class="slider-wrapper__photo">
                                <source
                                    srcset="./images/review/review-desktop-1.webp 1x, ./images/review/review-desktop-1@2x.webp 2x"
                                    media="(min-width:1316px)" type="image/webp">
                                <source srcset="./images/review/review-desktop-1.jpg 1x, ./images/review/review-desktop-1@2x.jpg 2x"
                                    media="(min-width:1316px)">
                                <source srcset="./images/review/review-tablet-1.webp 1x, ./images/review/review-tablet-1@2x.webp 2x"
                                    media="(min-width:768px)" type="image/webp">
                                <source srcset="./images/review/review-tablet-1.jpg 1x, ./images/review/review-tablet-1@2x.jpg 2x"
                                    media="(min-width:768px)">
                                <source srcset="./images/review/review-mobile-1.webp 1x, ./images/review/review-mobile-1@2x.webp 2x"
                                    media="(min-width:320px)" type="image/webp">
                                <source srcset="./images/review/review-mobile-1.jpg 1x, ./images/review/review-mobile-1@2x.jpg 2x"
                                    media="(min-width:320px)">
                                <img class="slider-wrapper__image" src="./images/review/review-mobile-1.jpg" alt="Рита Руденко"
                                    aria-label="Рита Руденко">
                            </picture>
                        </div>
                        <a class="slider-wrapper__social" href="https://www.instagram.com/" aria-label="инстаграм" target="_blank">
                            <svg class="slider-social__network" width="25" height="25">
                                <use href="./images/sprite.svg#icon-insta"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="slider-wrapper__right">
                        <h3 class="slider-wrapper__name">Рита Руденко</h3>
                        <p class="slider-wrapper__description">Выпуск 2015-го года, Національний університет біоресурсів
                            і природокористування України
                        </p>
                        <p class="slider-wrapper__text">За короткий час занять з Оленою я опанувала граматику і поповнила свій
                            зовсім пустий
                            словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
                            друзями, тому
                            що
                            її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках,
                            маючи страх
                            зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен<span class="hidden-text"
                                reviews-text-5>тка
                                Олени Моревої !</span>
                            <span class="visible-text">...</span>
                            <button class="switch" type="button" reviews-switch-button-5>
                                <span class="switch__visible-text">Читать дальше</span>
                                <span class="switch__hidden-text">Читать меньше</span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__wrapper">
                    <div class="slider-wrapper__left">
                        <div class="slider-wrapper__thumb">
                            <picture class="slider-wrapper__photo">
                                <source
                                    srcset="./images/review/review-desktop-1.webp 1x, ./images/review/review-desktop-1@2x.webp 2x"
                                    media="(min-width:1316px)" type="image/webp">
                                <source srcset="./images/review/review-desktop-1.jpg 1x, ./images/review/review-desktop-1@2x.jpg 2x"
                                    media="(min-width:1316px)">
                                <source srcset="./images/review/review-tablet-1.webp 1x, ./images/review/review-tablet-1@2x.webp 2x"
                                    media="(min-width:768px)" type="image/webp">
                                <source srcset="./images/review/review-tablet-1.jpg 1x, ./images/review/review-tablet-1@2x.jpg 2x"
                                    media="(min-width:768px)">
                                <source srcset="./images/review/review-mobile-1.webp 1x, ./images/review/review-mobile-1@2x.webp 2x"
                                    media="(min-width:320px)" type="image/webp">
                                <source srcset="./images/review/review-mobile-1.jpg 1x, ./images/review/review-mobile-1@2x.jpg 2x"
                                    media="(min-width:320px)">
                                <img class="slider-wrapper__image" src="./images/review/review-mobile-1.jpg" alt="Мария Морозко"
                                    aria-label="Мария Морозко">
                            </picture>
                        </div>
                        <a class="slider-wrapper__social" href="https://www.instagram.com/" aria-label="инстаграм" target="_blank">
                            <svg class="slider-social__network" width="25" height="25">
                                <use href="./images/sprite.svg#icon-insta"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="slider-wrapper__right">
                        <h3 class="slider-wrapper__name">Мария Морозко</h3>
                        <p class="slider-wrapper__description">Выпуск 2015-го года, Національний університет біоресурсів
                            і природокористування України
                        </p>
                        <p class="slider-wrapper__text">За короткий час занять з Оленою я опанувала граматику і поповнила свій
                            зовсім пустий
                            словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
                            друзями, тому
                            що
                            її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках,
                            маючи страх
                            зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен<span class="hidden-text"
                                reviews-text-6>тка
                                Олени Моревої !</span>
                            <span class="visible-text">...</span>
                            <button class="switch" type="button" reviews-switch-button-6>
                                <span class="switch__visible-text">Читать дальше</span>
                                <span class="switch__hidden-text">Читать меньше</span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__wrapper">
                    <div class="slider-wrapper__left">
                        <div class="slider-wrapper__thumb">
                            <picture class="slider-wrapper__photo">
                                <source
                                    srcset="./images/review/review-desktop-1.webp 1x, ./images/review/review-desktop-1@2x.webp 2x"
                                    media="(min-width:1316px)" type="image/webp">
                                <source srcset="./images/review/review-desktop-1.jpg 1x, ./images/review/review-desktop-1@2x.jpg 2x"
                                    media="(min-width:1316px)">
                                <source srcset="./images/review/review-tablet-1.webp 1x, ./images/review/review-tablet-1@2x.webp 2x"
                                    media="(min-width:768px)" type="image/webp">
                                <source srcset="./images/review/review-tablet-1.jpg 1x, ./images/review/review-tablet-1@2x.jpg 2x"
                                    media="(min-width:768px)">
                                <source srcset="./images/review/review-mobile-1.webp 1x, ./images/review/review-mobile-1@2x.webp 2x"
                                    media="(min-width:320px)" type="image/webp">
                                <source srcset="./images/review/review-mobile-1.jpg 1x, ./images/review/review-mobile-1@2x.jpg 2x"
                                    media="(min-width:320px)">
                                <img class="slider-wrapper__image" src="./images/review/review-mobile-1.jpg" alt="Ника Николенко"
                                    aria-label="Ника Николенко">
                            </picture>
                        </div>
                        <a class="slider-wrapper__social" href="https://www.instagram.com/" aria-label="инстаграм" target="_blank">
                            <svg class="slider-social__network" width="25" height="25">
                                <use href="./images/sprite.svg#icon-insta"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="slider-wrapper__right">
                        <h3 class="slider-wrapper__name">Ника Николенко</h3>
                        <p class="slider-wrapper__description">Выпуск 2015-го года, Національний університет біоресурсів
                            і природокористування України
                        </p>
                        <p class="slider-wrapper__text">За короткий час занять з Оленою я опанувала граматику і поповнила свій
                            зовсім пустий
                            словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
                            друзями, тому
                            що
                            її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках,
                            маючи страх
                            зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен<span class="hidden-text"
                                reviews-text-7>тка
                                Олени Моревої !</span>
                            <span class="visible-text">...</span>
                            <button class="switch" type="button" reviews-switch-button-7>
                                <span class="switch__visible-text">Читать дальше</span>
                                <span class="switch__hidden-text">Читать меньше</span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
          
        </div>

        <!-- mobile-slider -->
        <div class="small-slider">
            <!-- slider 1-->
            <div class="small-slider__item">
                <div class="small-slider__thumb">
                    <picture>
                        <source srcset="./images/review/review-tablet-ac.webp 1x, ./images/review/review-tablet-ac@2x.webp 2x"
                            media="(max-width:767px)" type="image/webp">
                        <source srcset="./images/review/review-tablet-ac.jpg 1x, ./images/review/review-tablet-ac@2x.jpg 2x"
                            media="(max-width:767px)">
                        <img class="small-slider__image" src="./images/review/review-tablet-ac.jpg" alt="photo1" aria-label="photo1">
                    </picture>
                </div>
            </div>
            <!-- slider 2-->
            <div class="small-slider__item">
                <div class="small-slider__thumb">
                    <picture>
                        <source srcset="./images/review/review-mobile-2.webp 1x, ./images/review/review-mobile-2@2x.webp 2x"
                            media="(max-width:767px)" type="image/webp">
                        <source srcset="./images/review/review-mobile-2.jpg 1x, ./images/review/review-mobile-2@2x.jpg 2x"
                            media="(max-width:767px)">
                        <img class="small-slider__image" src="./images/review/review-mobile-2.jpg" alt="photo2" aria-label="photo2">
                    </picture>
                </div>
            </div>
            <!-- slider 3-->
            <div class="small-slider__item">
                <div class="small-slider__thumb">
                    <picture>
                        <source srcset="./images/review/review-mobile-3.webp 1x, ./images/review/review-mobile-3@2x.webp 2x"
                            media="(max-width:767px)" type="image/webp">
                        <source srcset="./images/review/review-mobile-3.jpg 1x, ./images/review/review-mobile-3@2x.jpg 2x"
                            media="(max-width:767px)">
                        <img class="small-slider__image" src="./images/review/review-mobile-3.jpg" alt="photo3" aria-label="photo3">
                    </picture>
                </div>
            </div>
            <!-- slider 4-->
            <div class="small-slider__item">
                <div class="small-slider__thumb">
                    <picture>
                        <source srcset="./images/review/review-mobile-4.webp 1x, ./images/review/review-mobile-4@2x.webp 2x"
                            media="(max-width:767px)" type="image/webp">
                        <source srcset="./images/review/review-mobile-4.jpg 1x, ./images/review/review-mobile-4@2x.jpg 2x"
                            media="(max-width:767px)">
                        <img class="small-slider__image" src="./images/review/review-mobile-4.jpg" alt="photo4" aria-label="photo4">
                    </picture>
                </div>
            </div>
            <!-- slider 5-->
            <div class="small-slider__item">
                <div class="small-slider__thumb">
                    <picture>
                        <source srcset="./images/review/review-tablet-5.webp 1x, ./images/review/review-tablet-5@2x.webp 2x"
                            media="(max-width:767px)" type="image/webp">
                        <source srcset="./images/review/review-tablet-5.jpg 1x, ./images/review/review-tablet-5@2x.jpg 2x"
                            media="(max-width:767px)">
                        <img class="small-slider__image" src="./images/review/review-tablet-5.jpg" alt="photo5" aria-label="photo5">
                    </picture>
                </div>
            </div>
            <!-- slider 6-->
            <div class="small-slider__item">
                <div class="small-slider__thumb">
                    <picture>
                        <source srcset="./images/review/review-tablet-6.webp 1x, ./images/review/review-tablet-6@2x.webp 2x"
                            media="(max-width:767px)" type="image/webp">
                        <source srcset="./images/review/review-tablet-6.jpg 1x, ./images/review/review-tablet-6@2x.jpg 2x"
                            media="(max-width:767px)">
                        <img class="small-slider__image" src="./images/review/review-tablet-6.jpg" alt="photo6" aria-label="photo6">
                    </picture>
                </div>
            </div>
            <!-- slider 7-->
            <div class="small-slider__item">
                <div class="small-slider__thumb">
                    <picture>
                        <source srcset="./images/review/review-tablet-7.webp 1x, ./images/review/review-tablet-7@2x.webp 2x"
                            media="(max-width:767px)" type="image/webp">
                        <source srcset="./images/review/review-tablet-7.jpg 1x, ./images/review/review-tablet-7@2x.jpg 2x"
                            media="(max-width:767px)">
                        <img class="small-slider__image" src="./images/review/review-tablet-7.jpg" alt="photo7" aria-label="photo7">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>