<section class="warranty section">
    <h2 class="warranty-title">Мы гарантируем</h2>
    <div class="container">
        <div class="warranty-list__wrapper">
            <ul class="warranty-list list">
                <li class="warranty-list__item">
                    <p class="warranty-list__text">
                        Ты сдашь ВНО минимум на 25 баллов лучше, чем на первом пробном тестировании. Иначе мы вернем
                        деньги.<span class="warranty-list__accent">*</span>
                    </p>
                </li>
                <li class="warranty-list__item">
                    <p class="warranty-list__text">
                        Ты научишься писать сочинения минимум на 10 баллов из 14.<span class="warranty-list__accent"> В
                            то время как 20% учеников получили
                            за сочинение 0.</span>
                    </p>
                </li>
                <li class="warranty-list__item">
                    <p class="warranty-list__text">
                        Ты будешь заниматься в своем районе. Мы выберем место проведения занятий после формирования
                        команд.
                    </p>
                </li>
                <li class="warranty-list__item">
                    <p class="warranty-list__text">
                        Команды будут сформированы, исходя из начального уровня учеников. Мы учитываем особенности
                        каждого ученика.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>