.modal-btn {
  width: 260px;
  height: 48px;
  border: 2px solid var(--accent-color);
  background-color: transparent;
  color: var(--accent-color);

  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--white-text-color);
    outline: none;
  }

  &.revers {
    background-color: var(--accent-color);
    color: var(--white-text-color);

    &:hover,
    &:focus {
      background-color: transparent;
      color: var(--accent-color);
    }
  }
}
.reg-btn {
  width: 260px;
  height: 48px;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  border: 2px solid var(--accent-color);
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  outline: none;
  margin-top: 50px;
  &:hover,
  &:focus {
    background-color: transparent;
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
    outline: none;
  }
  @media screen and (min-width: 1344px) {
    width: 354px;
    height: 70px;
    font-size: 14px;
    margin-top: 80px;
  }
}
