.modal-btn {
  width: 260px;
  height: 48px;
  border: 2px solid var(--accent-color);
  background-color: transparent;
  color: var(--accent-color);

  font-family: var(--primary-font-family);
  @include font(700, 12px, 1.25);
  letter-spacing: 0.08em;
  text-transform: uppercase;
  // animation: animate11 1000ms infinite 800ms;

  // @keyframes animate11 {
  //   0% {
  //     transform: scale(1);
  //   }

  //   50% {
  //     transform: scale(1.1);
  //   }

  //   100% {
  //     transform: scale(1);
  //   }
  // }
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--white-text-color);
    outline: none;
  }

  &.revers {
    background-color: var(--accent-color);
    color: var(--white-text-color);

    &:hover,
    &:focus {
      background-color: transparent;
      color: var(--accent-color);
    }
  }
}
.reg-btn {
  width: 260px;
  height: 48px;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  border: 2px solid var(--accent-color);
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  outline: none;
  margin-top: 50px;
  // animation: buzz 500ms infinite 300ms;
  transition: all 300ms ease-out;
  // @keyframes buzz {
  //   0% {
  //     transform: translateX(-3px) rotate(-1deg);
  //   }
  //   50% {
  //     transform: translateX(3px) rotate(1deg);
  //   }

  //   100% {
  //     transform: translateX(-3px) rotate(-1deg);
  //   }
  // }
  &:hover,
  &:focus {
    background-color: transparent;
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
    outline: none;
  }
  @media screen and (min-width: 1344px) {
    width: 354px;
    height: 70px;
    font-size: 14px;
    margin-top: 80px;
  }
}
