.advantages.section {
  padding-bottom: 50px;

  @media screen and (min-width: 768px) {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  @media screen and (min-width: 1344px) {
    padding-top: 59px;
    padding-bottom: 130px;
  }
}

.advantages .container {
  position: relative;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding: 0 52px;
  }
}

.advantages-list {
  @media screen and (min-width: 768px) {
    @include flex(space-between, center);
  }
}

.advantages-list__item {
  @include flex(center, center);

  @media screen and (min-width: 320px) and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: 216px;
  }

  @media screen and (min-width: 1344px) {
    position: relative;
    width: 438px;

    @include flex(flex-start, center);
  }
}

.advantages-list__icon-wrapper {
  position: relative;
  min-width: 59px;
  height: 60px;
  margin-right: 10px;
  @include flex(center, center);

  @media screen and (min-width: 1344px) {
    min-width: 100px;
    height: 102px;
  }
}

.advantages-list__icon {
  fill: var(--accent-color);

  &.icon-female {
    position: absolute;
    width: 33px;
    height: 40px;
  }

  &.icon-mobile {
    position: absolute;
    width: 42px;
    height: 41px;
  }

  &.icon-umbrella {
    position: absolute;
    width: 35px;
    height: 40px;
  }

  @media screen and (min-width: 1344px) {
    &.icon-female {
      width: 40px;
      height: 48px;
    }

    &.icon-mobile {
      width: 48px;
      height: 47px;
    }

    &.icon-umbrella {
      width: 42px;
      height: 48px;
    }
  }
}

.icon-rectangle {
  width: 59px;
  height: 60px;

  @media screen and (min-width: 1344px) {
    width: 100px;
    height: 102px;
  }
}

.advantages-list__text {
  @include font(700, 14px, 1.43);
  letter-spacing: 0.08em;

  @media screen and (min-width: 1344px) {
    position: absolute;
    left: 18%;
    @include font(700, 20px, 1.65);
  }
}
