.header {
  position: absolute;
  width: 100%;
  padding-top: 30px;
}

.logo__icon {
  width: 19px;
  height: 24px;
  animation: animate125 3000ms infinite 1000ms;
}

@keyframes animate125 {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

.container-burger {
  width: 320px;
  padding: 0 20px;
  margin: auto;
}

.burger {
  display: inline-flex;
  padding: 0;
  margin-left: auto;
  border: none;
  background-color: transparent;
  z-index: 9999;
  outline: none;

  &.is-open {
    position: fixed;
    right: 20px;
  }

  & .icon-cross {
    display: none;
  }
  &.is-open .icon-cross {
    display: block;
    fill: var(--white-text-color);
  }
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: block;
  align-items: center;
  text-align: left;
  margin-bottom: 50px;

  &-link {
    display: block;
    align-items: center;

    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.8;
    letter-spacing: 0.03em;

    color: var(--white-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.menu-container.is-open .modal-btn {
  text-align: center;
}

.modal-btn.tablet {
  display: none;
}

.menu-container.is-open .logo__menu,
.menu-container.is-open .logo__title,
.menu-container.is-open .logo__span {
  color: var(--white-text-color);
}

@media screen and (max-width: 767px) {
  .modal-btn.revers {
    margin-bottom: 30px;
  }

  .menu-text {
    margin: 50px 0;
    text-align: center;
  }
}

@media screen and (max-width: 1343px) {
  .menu-container {
    display: none;
    position: fixed;
    padding-top: 30px;
    padding-bottom: 30px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(17, 21, 24, 0.9);

    &.is-open {
      display: block;
    }
  }

  .logo__menu {
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 1.143;
    letter-spacing: 0.04em;

    color: var(--primary-text-color);
  }
}

@media screen and (min-width: 768px) {
  .modal-btn.tablet {
    display: block;
    margin-right: 40px;
  }

  .container-burger {
    width: 768px;
    padding: 0 40px;
  }

  .menu-container {
    padding-top: 34px;
  }

  .burger.is-open {
    right: 40px;
  }

  @media screen and (max-width: 1343px) {
    .menu-container .modal-btn {
      display: none;
    }
  }

  .nav__list {
    padding-top: 72px;

    &-link {
      font-size: 26px;
      line-height: 1.808;
    }
  }

  .menu-text {
    width: 330px;
    margin: auto;
  }

  .menu-container.is-open .logo__span,
  .logo__span {
    color: var(--accent-color);
  }

  .burger {
    margin-left: 0;
  }

  .logo {
    margin-right: 239px;
  }
}

@media screen and (min-width: 1344px) {
  .logo {
    margin-right: 144px;
    letter-spacing: 0.02em;
  }

  .logo__menu {
    display: none;
  }

  .container-burger {
    width: 100%;
    padding: 0;
  }

  .nav__list {
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 0;

    &-item:not(:last-child) {
      margin-right: 40px;
    }
  }

  .menu-text {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .nav__list-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.214;
    color: #b9b9b9;
  }

  .menu-container {
    padding: 0;
  }

  .burger {
    display: none;
  }

  .modal-btn {
    display: block;
    width: 354px;
    height: 70px;

    font-size: 14px;
    line-height: 1.214;

    .header & {
      margin-left: 60px;
      width: 336px;
      height: 70px;

      font-size: 14px;
      line-height: 1.214;
    }
  }

  .modal-btn.tablet {
    display: none;
  }
}
