.hero {
  padding: 70px 0;
  background-image: url(../images/hero/hero-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;

  &__thumb {
    text-align: center;
  }

  &__title {
    margin-bottom: 30px;

    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.35;
    letter-spacing: 0.03em;
    text-align: left;

    color: var(--primary-text-color);
  }

  &__discription {
    margin-bottom: 30px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.571;
    letter-spacing: 0.08em;
    text-align: left;

    color: var(--secondary-text-color);

    &-span-2 {
      font-weight: 700;
      color: var(--additional-bg-color);
    }

    &-span-3 {
      font-weight: 700;
      color: var(--accent-color);
    }
  }

  &__preview {
    text-align: center;

    &-pic {
      margin: 0 auto;
    }
  }

  &__btn {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .hero .container {
    display: flex;
    flex-shrink: 0;
    align-items: center;
  }
  .hero {
    background-image: url(../images/hero/hero-bg-tablet.jpg);
    background-repeat: no-repeat;
    background-position: center;

    &__title {
      font-size: 26px;
      line-height: 1.308;
    }
  }

  .hero__preview-pic {
    width: 375.75px;
    height: 320px;
  }
}
