.teacher.section {
  padding-top: 270px;
}

@media screen and (min-width: 768px) {
  .teacher.section {
    padding-top: 302px;
  }
}

@media screen and (min-width: 1344px) {
  .teacher.section {
    padding-top: 329px;
  }
}

.teach-title {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 20px;
}

.teach-left {
  margin-bottom: 20px;
}

.teacher-item__photo {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .teach-title {
    font-size: 26px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1344px) {
  .teach-title {
    font-size: 46px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper-lr {
    display: flex;
  }
  .teach-left {
    padding-right: 40px;
  }
}

@media screen and (min-width: 1344px) {
  .teach-left {
    padding-right: 30px;
  }
}

.teach-title__name {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  margin-bottom: 10px;
}

@media screen and (min-width: 1344px) {
  .teach-title__name {
    font-size: 30px;
  }
}

.progress-list {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 1344px) {
  .progress-list {
    font-size: 20px;
  }
}

.progress-list__item {
  display: flex;
  margin-bottom: 15px;

  &::before {
    display: block;
    content: '';
    width: 17px;
    height: 14px;
    margin-right: 9px;
    background-image: url(../images/teacher/done.svg);
  }
}
.progress-list__item:last-child {
  margin-bottom: 0px;
}

.progress-list__wrapper {
  border-top: 1px solid #b9b9b9;
  padding-top: 20px;
}

@media screen and (min-width: 1344px) {
  .progress-list__wrapper {
    padding-top: 30px;
  }
}
.teach-text-symbol {
  color: var(--accent-color);
  margin: 20px 0px;
}

.teach-text__descr {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1344px) {
  .teach-text__descr {
    font-size: 18px;
  }
}

.teach-text__descr:last-child {
  margin-bottom: 10px;
}

@media screen and (min-width: 1344px) {
  .teach-text__descr:last-child {
    margin-bottom: 20px;
  }
}

.teach-cert {
  color: var(--accent-color);
  text-decoration: underline;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.76;
}

@media screen and (min-width: 1344px) {
  .teach-cert {
    font-size: 18px;
  }
}

.progress-list__text {
  width: 253px;
}

@media screen and (min-width: 768px) {
  .progress-list__text {
    width: 375px;
  }
}

@media screen and (min-width: 1344px) {
  .progress-list__text {
    width: 530px;
  }
}
