.teacher.section {
  padding: 50px 40px 0px 40px;
}

.teach-title {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 1.3;
  margin-bottom: 30px;
}

.teach-title__name {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  margin-top: 20px;
  margin-bottom: 10px;
}
.progress-list {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.06em;
}
.progress-list__item {
  display: flex;
  margin-bottom: 15px;
  &::before {
    display: block;
    content: '';
    width: 17px;
    height: 14px;
    margin-right: 9px;
    background-image: url(../images/teacher/done.svg);
  }
}
.progress-list__item:last-child {
  margin-bottom: 0px;
}

.progress-list__wrapper {
  border-top: 1px solid #b9b9b9;
  padding-top: 20px;
}

.teach-text-symbol {
  color: var(--accent-color);
  margin: 20px 0px;
}

.teach-text__wrapper {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: var(--secondary-text-color);
}

.teach-text__descr {
  margin-bottom: 30px;
}
.teach-text__descr:last-child {
  margin-bottom: 10px;
}

.teach-cert {
  color: var(--accent-color);
  text-decoration: underline;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.76;
}
